.pata-voltar {
  display: flex;
  align-items: center;

  & img {
    padding: 10px;
  }

  & span {
    padding: 5px 5px 5px 0px;
    font-family: 'Pompiere', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}
