.pttl-header {
  height: 45%;
  margin-bottom: 20px;

  .titulo-conteiner {
    width: 180px;
    height: 130px;

    display: flex;
    align-items: center;

    & h1 {
      width: 100%;
      font-family: 'Orienta', sans-serif;
      font-size: 2rem;
    }
  }
}

.pata-bg-titulo {
  position: absolute;
  top: -6rem;
  left: -4.5rem;
  transform: rotateZ(130deg);

  width: 395px;
}
