@mixin botao {
  width: 220px;
  height: 48px;
  margin: 7px;
  margin-top: 1.5rem;
  border: none;
  border-radius: 36px;
  font-family: 'Pompiere', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  @include botao();
}

.light {
  background-color: #90B77D;
  color: black;
}

.dark {
  background-color: #1C2420;
  color: white;
}
