.screenHome {
  background-color: white;
}

.homeHeader {
  &Conteiner {
    position: relative;
    height: 100px;
    background-color: white;
  }

  box-sizing: border-box;
  height: 70px;
  padding: 10px;
  background-color: #344D34;
  display: flex;
  align-items: center;

  & .pesquisar {
    box-sizing: border-box;
    position: absolute;
    top: 1.5rem;

    padding: 10px;
    border-radius: 50%;
    background-color: #A3B18A;
    border: 3px solid #344D34;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 2rem;
      color: black
    }
  }

  & .linkPerfil {
    position: absolute;
    right: .5rem;
    top: .5rem;

    width: 90px;
    height: 90px;
    display: block;

    & img {
      box-sizing: border-box;
      width: 100%;
      border: 4px solid #344D34;
      border-radius: 50%;
    }
  }
}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
