@import '/src/Assets/Scss/vars.scss';

.cardPet {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 48%;
  height: 186px;
  padding: 2px;
  border-radius: 8px;
  background-color: $cardPet;

  .fotoConteiner {
    overflow: hidden;
    height: 75%;
    margin-bottom: 5px;
    border-radius: 8px;

    & img {
      width: 100%;
    }
  }

  .infoConteiner {
    width: 75%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & span:first-child {
      font-family: 'Pompiere', sans-serif;
      font-size: 1.4rem;
    }

    & span:last-child {
      font-family: 'Orienta', sans-serif;
      font-size: .6rem;
      color: #000000a4;
    }
  }

  .bgPataDeco {
    position: absolute;
    bottom: -.6rem;
    right: -.6rem;
    transform: rotateZ(-45deg);
  }
}

