@import '/src/Assets/Scss/vars.scss';

.header {
  background-color: #344D34;
  padding: 5px 3px;
}

.fotoPet {
  width: 100vw;
}

.petConteiner {
  position: relative;
  bottom: 2rem;

  padding: 20px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  background-color: $defaultBackground;
  font-family: 'Orienta', sans-serif;

  .tituloHeader {
    position: relative;

    h1 {
      margin-bottom: 10px;
      color: white;
      font-family: 'Pompiere', sans-serif;
      font-size: 2.5rem;
    }

    & .pataDeco {
      position: absolute;

      &_1 {
        transform: rotateZ(-20deg);
        top: 0;
        right: 40px;
      }

      &_2 {
        transform: rotateZ(20deg);
        top: 30px;
        right: 0;
      }
    }
  }


  p {
    color: white;
    white-space: pre-line;
  }

  .descricao {
    margin: 20px 0;
  }

  .botoes {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      width: 100%;
      max-width: 300px;
      margin: 7px;

      & i {
        margin: 5px;
      }
    }
  }
}

.divulgante {
  margin-top: 15px;
  padding: 5px;
  border: 2px solid #A3B18A;
  border-radius: 8px;
  color: white;

  h3 {
    color: #405123;
  }

  &Nome {
    margin: 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: #90b77d9f;
    font-family: 'Pompiere', sans-serif;
    font-size: 1.8rem;
    display: inline-block;
  }

  &Descricao {
    margin: 10px 5px;
    font-size: .9rem;
  }

  &Endereco {
    margin: 0 5px;
    font-size: .8rem;
  }
}
