html {
  font-size: 16px;
}

body {
  background-color: $defaultBackground;
}

@mixin botao {
  width: 220px;
  height: 48px;
  margin: 7px;
  margin-top: 1.5rem;
  border: none;
  border-radius: 36px;
  font-family: 'Pompiere', sans-serif;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.App {
  // overflow-x: hidden;
}

.screen {
  position: relative;
  box-sizing: border-box;
  min-height: 92vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bg {
  z-index: -1;
}

.center {
  display: flex;
  justify-content: center;
}

.mrg-2 {
  margin-top: 2rem;
}
