.divulgadosConteiner {
  position: relative;
  padding-bottom: 3rem;
}

.divulgados {
  padding: 10px;

  & > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
  }

  & > span {
    font-family: 'Orienta', sans-serif;
    color: hsla(0, 0%, 0%, 0.663);
    display: block;
    text-align: center;
  }
}


