.pata-bg-titulo {
  position: absolute;
  top: -6rem;
  left: -4.5rem;
  transform: rotateZ(130deg);

  width: 110%;
}

.entrar {
  & header {
    height: 45%;
    margin-bottom: 20px;

    .titulo-conteiner {
      width: 180px;
      height: 150px;

      display: flex;
      align-items: center;

      & h1 {
        width: 9.5rem;
        font-family: 'Orienta', sans-serif;
        font-size: 2rem;
      }
    }

  }

  & main {
    display: flex;
    justify-content: center;
  }

  & footer {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;

    & img {
      padding: 10px;
    }

    & span {
      font-family: 'Pompiere', sans-serif;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
  }
}

.form-rsg {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;

  & label {
    margin-left: .7rem;
    align-self: flex-start;
    font-family: 'Pompiere', sans-serif;
    font-size: 1.8rem;
  }

  & input {
    width: 250px;
    height: 40px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 36px;
  }

  .entrar {
    @include botao();
    background-color: #1C2420;
    color: white;
  }
}

.auth-footer-bg {


  & img {
    position: absolute;
  }

  & .pata-outline {
    right: 1rem;
    bottom: 6rem;
    width: 4rem;
    transform: rotateZ(15deg);
  }

  & .pata {
    right: 4rem;
    bottom: .2rem;
    width: 6rem;
    transform: rotateZ(-15deg);
  }
}
